body {
    background-color:#3898be;
}
a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 39, 39);
}
div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}